<section id="content" role="main" class="aui-page-fixed">
  <header class="aui-page-header">
    <div class="aui-page-header-inner">
      <div class="aui-page-header-main">
        <h1>Activity</h1>
      </div><!-- .aui-page-header-main -->
    </div>
    <!-- .aui-page-header-inner -->
  </header><!-- .aui-page-header -->
  <div class="aui-page-panel">
    <div class="aui-page-panel-inner">
      <section id="repo-activity">
        <h1>
          Recent activity
        </h1>
        <div >
          <article>
            <p>
              <a href=""><img alt="" src="http://placehold.it/32x32"></a>
              <a href="">Benjamin Wong</a>
              created <a href="">pull request #516</a> for  <a href="" title="">atlassian/aui</a>
            </p>
            <time datetime="2013-11-19T13:27:48+05:30" title="19 November 2013 13:27">3 hours ago</time>
            <p ><a href="" rel="nofollow">AUI-1916</a> - change css for sortable table arrow and comment magic numbers</p>
          </article>
          <hr>
          <article>
            <p>
              <a href=""><img alt="" src="http://placehold.it/32x32"></a>
              <a href="">Benjamin Wong</a>
              pushed 1 commit to 
              <a href="" title="">atlassian/aui</a>
            </p>
            <time datetime="2013-11-19T13:23:27+05:30" title="19 November 2013 13:23">3 hours ago</time>
            <div class="">
              <a href=""s>69c5653</a>
              <a href="" rel="nofollow">AUI-1916</a> - change css for sortable table arrow and comment magic numbers
            </div>
          </article>
        </div>
      </section>
    </div><!-- .aui-page-panel-inner -->
  </div><!-- .aui-page-panel -->
</section>