<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-image">
                <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
                    <div class="aui-avatar-inner">
                        <img src="static/img/project-48.png">
                    </div>
                </div>
            </div>
            <div class="aui-page-header-main">
                <h1>Dashboard</h1>
            </div>
            <div class="aui-page-header-actions">
                <div class="aui-buttons">
                    <button class="aui-button" ng-click="">Edit</button>
                    <button class="aui-button" ng-click="">View</button>
                    <button class="aui-button" ng-click="">More</button>
                </div>
            </div>
        </div>
    </header>
    <nav class="aui-navgroup aui-navgroup-horizontal">
      <div class="aui-navgroup-inner">
        <div class="aui-navgroup-primary">
          <ul class="aui-nav">
            <li><a href="http://example.com"/>Nav item</a></li>
          </ul>
        </div>
        <div class="aui-navgroup-secondary">
          <ul class="aui-nav">
            <li><a href="http://example.com/">Nav item</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="aui-page-panel">
      <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            
            <div class="aui-group">
                <div class="aui-item">
                    <h2>Running Now <button  class="aui-button" ng-click="">View All</button></h2>
                    <table class="aui">
                        <thead>
                            <tr>
                                <th id="name">Spider</th>
                                <th id="type">Project</th>
                                <th id="action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td headers="name">Default</td>
                                <td headers="type">Internal Directory</td>
                                <td class="action" headers="action">
                                    <p class="aui-buttons">
                                        <button class="aui-button aui-button-subtle"><span class="aui-icon aui-icon-small aui-iconfont-view">View</span>View</button>
                                        <button class="aui-button aui-button-subtle"><span class="aui-icon aui-icon-small aui-iconfont-remove">Remove</span>Stop</button>
                                    </p>

                                </td>
                               
                            </tr>
                            <tr>
                                <td headers="name">Default</td>
                                <td headers="type">Internal Directory</td>
                                <td class="action" headers="action">
                                    <p class="aui-buttons">
                                        <button class="aui-button aui-button-subtle"><span class="aui-icon aui-icon-small aui-iconfont-view">View</span>View</button>
                                        <button class="aui-button aui-button-subtle"><span class="aui-icon aui-icon-small aui-iconfont-remove">Remove</span>Stop</button>
                                    </p>

                                </td>
                               
                            </tr>
                            <tr>
                                <td headers="name">Default</td>
                                <td headers="type">Internal Directory</td>
                                <td class="action" headers="action">
                                    <p class="aui-buttons">
                                        <button class="aui-button aui-button-subtle"><span class="aui-icon aui-icon-small aui-iconfont-view">View</span>View</button>
                                        <button class="aui-button aui-button-subtle"><span class="aui-icon aui-icon-small aui-iconfont-remove">Remove</span>Stop</button>
                                    </p>

                                </td>
                               
                            </tr>
                            <tr>
                                <td headers="name">Corporate LDAP</td>
                                <td headers="type">Microsoft Active </td>
                                <td class="action" headers="action">
                                    <p class="aui-buttons">
                                        <button class="aui-button aui-button-subtle"><span class="aui-icon aui-icon-small aui-iconfont-view">View</span>View</button>
                                        <button class="aui-button aui-button-subtle"><span class="aui-icon aui-icon-small aui-iconfont-remove">Remove</span>Stop</button>
                                    </p>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="aui-item">
                    <h2>Latest Data  <button  class="aui-button" ng-click="">View</button></h2>
                    <table>
                        <tr>
                            <td>
                                <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-complete">DBSpider</span>
                            </td>
                            <td>
                                <code>
                                    {
                                        'name':'10-gen Corporation',
                                        'product':'MongoDB',
                                        'tags':['database','key-value','nosql']
                                    }
                                </code>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-complete">DBSpider</span>
                            </td>
                            <td>
                                <code>
                                    {
                                        'name':'10-gen Corporation',
                                        'product':'MongoDB',
                                        'tags':['database','key-value','nosql']
                                    }
                                </code>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-complete">DBSpider</span>
                            </td>
                            <td>
                                <code>
                                    {
                                        'name':'10-gen Corporation',
                                        'product':'MongoDB',
                                        'tags':['database','key-value','nosql']
                                    }
                                </code>
                            </td>
                        </tr>
                    </table>                    

                </div>
                <div class="aui-item">
                    <h2>Notifications</h2>
                    <div class="aui-message generic">
                        <p class="title">
                            <span class="aui-icon icon-generic"></span>
                            <strong>Error!</strong>
                        </p>
                        <p>And this is just content in a Default message.</p>
                    </div>
                    <div class="aui-message success">
                        <p class="title">
                            <span class="aui-icon icon-success"></span>
                            <strong>Error!</strong>
                        </p>
                        <p>And this is just content in a Default message.</p>
                    </div>
                    <div class="aui-message info">
                        <p class="title">
                            <span class="aui-icon icon-hint"></span>
                            <strong>Error!</strong>
                        </p>
                        <p>And this is just content in a Default message.</p>
                    </div>
                </div>
            </div>
                                
        </section>
      </div>
    </div>
  </section>