<section id="content" role="main">
  <header class="aui-page-header">
    <div class="aui-page-header-inner">
      <div class="aui-page-header-main">
        <h1>DOCUMENTATION</h1>
      </div><!-- .aui-page-header-main -->
    </div>
    <!-- .aui-page-header-inner -->
  </header><!-- .aui-page-header -->
  <div class="aui-page-panel">
    <div class="aui-page-panel-inner">
      <div class="aui-page-panel-nav">
        <nav class="aui-navgroup aui-navgroup-vertical">
          <div class="aui-navgroup-inner">
            <div class="aui-nav-heading">
              <strong>General Components</strong>
            </div>
            <ul class="aui-nav">
              <li class="">
                <a href="" class="docs-nav-link" id="header-link" ng-click="">asd</a></li>
                <li class=""><a href="" class="docs-nav-link" id="" ng-click="">Avatars</a></li>
                <li class=""><a href="" class="docs-nav-link" id="" ng-click="">Badges</a></li>
                <li class=""><a href="" class="docs-nav-link" id="" ng-click="">Buttons</a></li>
              </ul>
              <div class="aui-nav-heading"><strong>Other</strong></div>
              <ul class="aui-nav">
                <li class=""><a href="" class="docs-nav-link" id="" ng-click="">Helper </a></li>
                <li class=""><a href="" class="docs-nav-link" id="" ng-click="">functions</a></li>
                <li class=""><a href="" class="docs-nav-link" id="" ng-click="">other</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <section class="aui-page-panel-content">
          <h2 class="component-heading">Headding</h2>
          <h3>Sub</h3><p>content content  content content content content content content content content content content content content content content content content content </p><p> content content content content content content content content content content content content content content content.</p>
          <h3>headding</h3>
        </section><!-- .aui-page-panel-content -->
      </div><!-- .aui-page-panel-inner -->
    </div><!-- .aui-page-panel -->
  </section>