<section id="content" role="main" >
	<header class="aui-page-header">
		<div class="aui-page-header-inner">
			<div class="aui-page-header-main">
				<h1>PLANS</h1>
			</div>
		</div>
	</header>
	<hr>
	<div class="">
		<ul class="pricing_table">
			<li class="price_block">

				<div class="price">
					<div class="price_figure">
						<span class="price_number">$40</span>
						<span class="price_tenure">per month</span>
					</div>
				</div>
				<ul class="features">
					<li>1 PROJECT</li>
					<li>10 SPIDERS </li>
				</ul>
				<div class="footer">
					<a ng-click="location.path('/payment')" class="aui-button aui-button-primary">PAY</a>
				</div>
			</li>
		</ul>
	</div>
</section>
<section id="content" role="main" >
	<header class="aui-page-header">
		<div class="aui-page-header-inner">
			<div class="aui-page-header-main">
				<h1>Recdent Payments</h1>
			</div>
		</div>
	</header>
	<div class="aui-page-panel">
		<table id="mySortableTable" class="aui aui-table-sortable">
            <thead>
              <tr>
                <th>Project</th>
                <th>Spider</th>
                <th>Owner</th> 
              </tr>
            </thead>
            <tbody>
              <tr >
                <td>project</td>
                <td>spider</td>
                <td>owner</td>
              </tr>
            </tbody>
          </table>
	</div>
</section>