<section id="content" role="main">
    <header class="aui-page-header">
      <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
          <h1>SCHEDULE</h1>
        </div><!-- .aui-page-header-main -->
      </div>
      <!-- .aui-page-header-inner -->
    </header><!-- .aui-page-header -->
    <div class="aui-page-panel">
      <div class="aui-page-panel-inner">
        <section id="content" role="main" >
          
          <table id="mySortableTable" class="aui aui-table-sortable">
            <thead>
              <tr>
                <th class="aui-table-column-issue-key">Key</th>
                <th>Issue Name</th>
                <th>Watchers</th>
                <th class="aui-table-column-unsortable">Description</th>
                <th>schedule</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#z">KAR-1123</a></td>
                <td>Cannot sort tables</td>
                <td>2</td>
                <td>Table sorting should be allowed</td>
                <td><button id="dialog1" class="aui-button" onclick="schedulemodal()">Schedule</button></td>
                </tr>
                <tr>
                  <td><a href="#y">KAR-87</a></td>
                  <td>Issue Page doesn't load in IE</td>
                  <td>0</td>
                  <td>When loading issue page on IE it doesn't show</td>
                  <td>
                    <button id="dialog1" class="aui-button" onclick="schedulemodal()">Schedule</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
          
        </div><!-- .aui-page-panel-inner -->
      </div><!-- .aui-page-panel -->
    </section>
    