<section id="content" role="main" class="aui-page-focused aui-page-focused-small">

<div class="aui-page-panel margin-fix">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            <h2><center>SIGN UP</center></h2>
            <form action="#" method="post" id="d" class="aui top-label">
                <fieldset>
                    <div class="field-group">
                        <label for="d-fname">Username</label>
                        <input ng-model="user.username" class="text long-field" type="text" id="" name="" title="Username">
                    </div>
                    <div class="field-group">
                        <label for="d-fname">Email</label>
                        <input ng-model="user.email" class="text long-field" type="text" id="" name="" title="Email">
                    </div>
                    <div class="field-group">
                        <label for="d-fname">Password</label>
                        <input ng-model="user.password" class="text long-field" type="text" id="" name="" title="Password">
                    </div>
                                                    
                    <div class="field-group">
                        <label for="d-fname">Already have an account? <a ng-click="location.path('/')">Log In </a></label>
                    </div>
                </fieldset>
                <div class="buttons-container">
                    <div class="buttons">
                        <input ng-disabled="!(user.password!=null&&user.username!=null&&user.email!=null)" ng-click="signup(user)"  class="aui-button aui-button-primary" type="submit" id="submit" name="submit" value="Sign Up">
                    </div>
                </div>
            </form>    
        </section>    
    </div>
</div>
</section>